@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
    pointer-events: none;
    position: fixed;
    inset: 0;
    z-index: 30;
    background: hsl(var(--background)/ 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .5s;
}